.LoginContainer {
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: auto;
    min-height: 100vh;
}

.Title{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: .5rem;
    margin: .5rem;
}

.nav{
    
    display: block;
    height: 7rem;
    width: 100%;
    position: absolute;
    background-color: white;
    top:0;
    left: 0;
    border-bottom: 0.5px solid  rgb(229, 227, 221);;
    box-shadow: 0 3px  rgba(80, 76, 76, 0.1);;
}