.SelectBoxContainer{

    display: block;
    position: relative;
    height: 4rem;
    margin-bottom: 1rem;
    

}

.SelectDisplayBox{
    display: flex;
    flex-direction: row;
}

.SelectBox{

    box-shadow: none;
    color: rgb(112, 108, 100);
    height: 4rem;
    background: rgb(245, 244, 242);
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 227, 221);
    border-image: initial;
    outline: none;
    padding: 0.75rem 1rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    border-radius: 4px;
    -webkit-appearance: textfield;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right-width: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    flex:3;
}

.DropDownBox{
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    height: 4rem;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 227, 221);
    border-image: initial;
    outline: none;
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    overflow: hidden;
    border-left-width: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

}

.SelectBoxFocused{
    background-color: white;
    border-color: rgb(31, 28, 28);
    color: rgb(36, 30, 18);
}

.DropDownBoxFocused{
    background-color: white;
    border-color: rgb(31, 28, 28);
    color: rgb(36, 30, 18);
}

.InValidSelectBox{ 
    background-color: rgb(250, 233, 234);
    border-color: rgb(214, 41, 41);
  }

.InValidDropDownBox{
    background-color: rgb(250, 233, 234);
    border-color: rgb(214, 41, 41);
}
  
  
.InValidSelectBoxFocused{ 
    background-color: white;
    border-color: rgb(214, 41, 41);
}

.InValidDropDownBoxFocused{ 
    background-color: white;
    border-color: rgb(214, 41, 41);
}



.SelectBoxUp{

    
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
    transform: rotate(-135deg);
}

.SelectBoxDown{
    
    
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
    transform: rotate(-135deg);
    
}

.DropDown{
    
    display: block;
    width: 100%;
    padding-left: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 20rem;
    background-color: white;
    position: absolute;
    cursor: pointer;
    top:4rem;
    z-index: 1;
    border: 1.5px solid rgb(229, 227, 221);
    border-radius: 4px;
    box-shadow:-1px 2px 11px 0px rgba(80, 76, 76, 0.2);
}

.ItemList{

    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
    padding: 10px;
    padding-left: 15px;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;

    
}

.ItemList:hover{
    padding: 0;
    
}

.selected{
    
    background-color: rgb(41, 133, 175);
    margin-left: -10px;
    color: #fff;
    
}


