.Form{
    width: 100%;
}

.SpecialControlCount{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.FormSubmission{
    display: flex;
    justify-content: space-between;
    
}

.FormSubmission div{
    width: 48%;
}





