.SignupContainer {

    position: relative;
    display: flex; 
    flex-direction: row;
    background-color: #fff;
    overflow: auto;
    min-height: 100vh;
    flex-wrap: wrap;
}

.AboutSchool{
    
    flex: 3;
    padding: 1rem;
    margin: 0 1rem;
    margin-top: 2rem;
}

.SignupForm{

    flex:2;    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    margin-top: 2rem;

}



.AboutSchoolTitle{

   
    margin-bottom: 1rem;
    font-size: 7rem;
    
}

.AboutSchoolContent{
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: justify;
 
}

.Title{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: .5rem;
    margin: .5rem;
}