.NavigationItem{

    display: block ;
    box-sizing: border-box;
    width: 100%;
}

.NavigationItem a{

    color: #ffffff ;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 16px 16px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 4px solid transparent; 
    transition: all 0.2s ease-in-out;
}



.NavigationItem a:active,
.NavigationItem a.active{

    background-color: #ffffff;
    color: #07a1a1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 6px;
    font-size: 20px;
}

.NavigationItem a:hover{
    
   
    font-size: 25px;
}
/* @media(min-width: 500px){
    .NavigationItem{

        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    
    }
    
    .NavigationItem a{
        color: white; 
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
       
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        background-color: #90dbc8;
        border-bottom: 4px #2c1b7a;
        color: white;
    }
} */