
.NavigationItem{

    color:inherit ;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: inherit;
}

.NavigationItem:hover{
    text-decoration: underline;

}

.NavigationItemActive{
    
    color: rgb(41, 133, 175);
}
