
.Label{
    margin-bottom: .4rem;
    color: rgb(112, 108, 100);
    cursor: text;
  }

  .Otp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  .Otp input{
    width: 3rem;
    height: 3rem;
    outline: none;
    text-align: center;
    font-size: x-large;
  }

  .RadioElement{
    display: flex;
    flex-direction: row;
    margin-top:10px;
  }
  .RadioElement div{
   
    margin: 8px;
  }
  
  .InputElement{
    display: block;
    height: 4rem;
    margin-bottom: 1rem;
   
  }

  

  .InputElement input, textarea, select{

    display: block;
    color: rgb(36, 30, 18);
    height: 4rem;
    background: rgb(245, 244, 242);
    border: 1px solid rgb(229,227,221);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: 100%;

}



.InputElement select option[disabled]:first-child {
  display: none;
  
}

.InputElement select option {
  color: black;
}
 .InputElement select option:first-child {
  color: grey;
}

.InputElement datalist{
  width: 100%;
}

.InputElement input[type="date" i] {
  color: rgb(112, 108, 100);
  
}

.InputElement input[type="date" i]:focus {
  color: rgb(36, 30, 18);
  
}


.InputElement textarea {
  height: 5rem;
}

 .InputElement input:focus, textarea:focus{
    background-color: white;
    border-color: rgb(31, 28, 28);
  }

  .InValidInputElement input{ 

    background-color: rgb(250, 233, 234);
    border-color: rgb(214, 41, 41);

  }
  
  
  .InValidInputElement input:focus{ 
    background-color: white;
    border-color: rgb(214, 41, 41);
  }
  
  .ErrorMessage{
    
    color: rgb(214, 41, 41);
    margin-bottom: .6rem;

  }

  
   .ErrorMessage p{
    font-size: 1.4rem;
  } 
  
