
.LoginBox{

   display: flex;
   flex-direction: column;
   width: 40rem;
   padding: 2.5rem;
   border-style: dotted;
   border: 1.5px solid rgb(229, 227, 221);
   border-radius: 5px;
   box-shadow: 6px 5px 5px 1px rgba(80, 76, 76, 0.1);
   
}

.InputFormFileds{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 8.5rem 8.5rem 8.5rem;
  grid-gap: 1rem;

}

.ErrorMessage{
    
  color: rgb(214, 41, 41);
  align-self: center;
  font-weight: 600;
  padding: .5rem;
  margin-bottom: .4rem;
}

.ForgotPassword{  
 
  padding: .5rem 0 0 .5rem;
  align-self: flex-end;
  text-decoration: none;
  border-bottom: 1px solid;
} 

