
.ForgotPasswordBox{

  display: flex;
  flex-direction: column;
  width: 40rem;
  padding: 2.5rem;
  background-color:#FFF;
  border-style: dotted;
  border: 1.5px solid rgb(229, 227, 221);
  border-radius: 5px;
  box-shadow: 5px 10px 10px 5px rgba(80, 76, 76, 0.2);
    
 }

 .InputFormFileds{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8.5rem 5rem 3rem 8.5rem 8.5rem 7rem 8.5rem;
  grid-gap: 1rem;

}

 .ErrorMessage{
     
  color: rgb(214, 41, 41);
  align-self: center;
  font-weight: 600;
  padding: .5rem;
  margin-bottom: .4rem;
 }
 
 .OptMessage{
  
  color: rgb(112, 108, 100);
  cursor: text;
  font-size: 1.2rem;
}

 
