
.ForgotPassword{

    display: flex;
    flex-direction: column;
    position: relative;
    background-color:#FFF;
    width: 500px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: none;
    border-style: dotted;
    border: 1.5px solid rgb(229, 227, 221);
    border-radius: 4px;
    box-shadow: 5px 10px 10px 5px rgba(80, 76, 76, 0.2);
    
 }

 ::-webkit-scrollbar {
  display: none;
}
 

 .ErrorMessage{
     
   color: rgb(214, 41, 41);
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 300;
 }
 
 .ErrorMessage p{
   margin-block-end: 0
 }
 
 
 
 .ForgotPasswrodForm{
   display: flex;
   flex-direction: column;
 }
 form{
   display: inline;
 }
 

 
 .ForgotPasswordButton{
   height: 3rem;
   background-color: #00cccc;
   border-radius: 25px;
   margin-bottom: 10px;
   
 }
 
 
 
 button{
     
     color:rgb(253, 253, 253);
     /* background-color: rgba(255, 255, 255, 0); */
     background-color:  #00cccc;
     box-sizing: border-box;
     margin: 0em;
     font-size: 15px;
     padding: 10px 10px;
     letter-spacing: 2px;
     text-transform: uppercase;
     font-weight: 600;
     width: 100%;
     height: 100%;
     border-width: 1px;
     border-style: solid;
     border-color: #00cccc;
     border-radius: 25px;
     outline: none;
     
 }
 button:disabled{
 
   /* cursor: text; */
   color:rgb(59, 55, 55);
   border-color:  rgba(160, 152, 152, 0.767);
   background-color: rgba(235, 226, 226, 0.767);
   opacity: 0.5;
 }
 
 button:hover{
   cursor: pointer;
   
 }
 
 
 
 
 
 
 
 @media only screen and (max-width: 409px){
   .ForgotPassword{
 
     width: 100%;
    
     
  }
  .ForgotPasswordButton{
    height: 2.7rem;
    
    
  }
  
 }
  @media only screen and (min-width: 410px) and (max-width: 767px) {  
   .ForgotPassword{
 
     width: 100%;
     /* padding: 20px; */
     
  }

  .ForgotPasswordButton{
    height: 2.7rem;
    
    
  }
  
  } 